.post-detail-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin: 40px;
	margin-top: 60px;
	color: #324d67;
}
.post-author {
	display: flex;
	gap: 20px;
	font-size: 24px;
	line-height: 20px;
	align-items: center;
	margin-bottom: 10px;
}
.post-detail-image {
	border-radius: $border-radius;
	background-color: #ebebeb;
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: 0.3s ease-in-out;
	overflow: hidden;
	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: $border-radius;
	}
}
.post-detail-image:hover {
	background-color: #f02d34;
}

.post-detail-desc {
	font-size: 22px;
	margin-bottom: 10px;
}
.post-detail-desc h4 {
	margin-top: 10px;
}
.post-detail-desc p {
	margin-top: 10px;
	margin-bottom: 10px;
}
